/*
==============================
🌟 Button primary Styles 🌟
==============================
*/

.button_primary_wrap {
  position: relative;
  overflow: hidden;
}

.button_primary_wrap .button_primary_hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: 0 0;
  will-change: transform;
  pointer-events: none;
}

.button_primary_hover::before {
  aspect-ratio: 1/1;
  background-color: var(--_theme---background-fill--button-hover);
  border-radius: 50%;
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  width: 170%;
  pointer-events: none;
}

.button_primary_wrap .button_primary_icon {
  transition: transform 0.2s ease-out;
}

.button_primary_wrap:hover .button_primary_icon {
  transform: scale(1.15);
}

/*
==============================
🌟 Button Tertiary Styles 🌟
==============================
*/

.button_tertiary_wrap .button_tertiary_icon {
  transition: transform 0.2s ease-out;
}

.button_tertiary_wrap:hover .button_tertiary_icon {
  transform: scale(1.15);
}

/*
==============================
🌟 Button Footer Link Styles 🌟
==============================
*/

.footer_top_nav-link .footer_top_nav-link-line {
  transition:
    width 0.1s ease-out,
    opacity 0.2s ease-out;
}

.footer_top_nav-link:hover .footer_top_nav-link-line {
  width: 100%;
  opacity: 1;
  border-color: var(--_theme---border-color--primary-active);
}

.footer_top_nav-link.w--current .footer_top_nav-link-line {
  width: 100%;
  opacity: 1;
}
