/*
==============================
🌟 Cards / Arrow Hover 🌟
==============================
*/

.arrow-hover-bg {
  transition: transform 0.2s ease-out;
}

.arrow-hover-icon {
  transition: color 0.2s ease-out;
}

[arrow-hover='trigger']:hover .arrow-hover-bg {
  transform: translate(0%, 1px);
}

[arrow-hover='trigger']:hover .arrow-hover-icon {
  color: var(--_theme---icons--invert);
}

/*
==============================
🌟 Cards / Date 🌟
==============================
*/

.date-tag {
  transition: background-color 0.2s ease-out;
}

[date-tag='trigger']:hover .date-tag {
  background-color: var(--_theme---background-fill--primary-default);
}

/*
==============================
🌟 Cards / Publications 🌟
==============================
*/

.publications_cards:hover .publications_cards_asset {
  background-color: var(--_theme---background-fill--primary-active);
}

/*
==============================
🌟 Cards / Animations 🌟
==============================
*/

[animation='scale-down'] img,
[animation='scale-up'] img {
  transition: transform 0.2s ease-out;
}

[animation='scale-down']:hover img {
  transform: scale(0.95);
}

[animation='scale-up']:hover img {
  transform: scale(1.05);
}
